@{
    ViewData["Title"] = "Index - QLSP";
}
@using System.Linq
@using Microsoft.EntityFrameworkCore.Metadata
@model IEnumerable<Asm_Csharp4.Models.Products>

<h1 class="display-4 text-center text-danger">Quản lý sản phẩm</h1>
<a asp-action="Create" class="btn btn-outline-info">Thêm sản phẩm mới</a>
<hr/>
<form asp-action="Index" autocomplete="off" method="get">
    <label>Tìm kiếm sản phẩm: </label>
    <div class="row g-3">
        <div class="col-sm-3">
            <input type="text" name="name" class="form-control" placeholder="Tìm sản phẩm theo tên ..."/>
        </div>
        <div class="col-sm-2">
            <label>Danh mục:</label>
            <select asp-items="@ViewBag.DanhMuc" name="categoryId" class="form-select">
                <option value="">...</option>
            </select>
        </div>
    </div>
    <br/>
    <input type="submit" value="Search" class="btn btn-info"/>
</form>
<br />
<hr />
<div class="table table-responsive">
    <table class="table table-bordered table-striped text-wrap align-middle text-center border-warning table-sm">
        <thead class="table-warning">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @{
                foreach (var item in Model)
                {
                    <tr class="fw-bolder">
                        <td class="text-info">@Html.DisplayFor(model => item.Name)</td>
                        <td class="text-danger">@Html.DisplayFor(model => item.Description)</td>
                        <td class="text-success fst-italic">@Html.DisplayFor(model => item.Price)</td>
                        <td >
                            <img src="@Html.DisplayFor(model=>item.Image)" width="75" />
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-outline-info btn-sm" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Edit" class="btn btn-outline-success btn-sm" asp-route-id="@item.Id">Sửa TT sản phẩm</a>
                            <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.Id">Xoá sản phẩm</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>