@{
    ViewData["Title"] = "Index - QLSP";
    ViewData["Icon"] = "/icons/bag.svg";
}
@using System.Linq
@using Microsoft.EntityFrameworkCore.Metadata
@model IEnumerable<Asm_Csharp4.Models.Products>

<h1 class="display-4 text-center text-danger">Quản lý sản phẩm</h1>
<a asp-action="Create" class="btn btn-outline-info">Thêm sản phẩm mới</a>
<hr />
<form asp-action="Index" method="get">
    <div class="row ">
        <div class="col-sm-2 col-4">
            <input class="form-control form-control-sm" type="text" name="name" placeholder="Tìm kiếm sản phẩm ..." />
        </div>
        <div class="col-sm-2 col-4">
            <select asp-items="@ViewBag.DanhMuc" name="categoryId" class="form-select form-select-sm">
                <option value="0">-Tất cả danh mục-</option>
            </select>
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
        </div>
    </div>
    <br />
</form>
<br />
<hr />
<div class="container">
    <table class="table table-bordered text-wrap align-middle text-center table-sm table-responsive-lg">
        <thead class="table-primary">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-info fw-bolder">@Html.DisplayFor(model => item.Name)</td>
                        <td class="text-danger fw-bolder">@Html.DisplayFor(model => item.Description)</td>
                        <td class="text-success fst-italic fw-bolder">@Html.DisplayFor(model => item.Price)</td>
                        <td>
                            <img src="@Html.DisplayFor(model=>item.Image)" width="75" />
                        </td>
                        <td>
                            <div class= "btn-group btn-group-sm" role="group">
                                <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Sửa TT sản phẩm</a>
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Xoá sản phẩm</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>