@model IEnumerable<Carts>
@{
    ViewData["Title"] = "Giỏ hàng | @iefnaY";
    var cust = ViewBag.customer as Customers;
}
<p class="fs-6 text-muted text-uppercase ms-2">Giỏ hàng  <span class="fs-6">(@Model.Count() sản phẩm)</span></p>
<div class="row">
    <div class="col">
        <div class="container-fluid  mb-auto float-start">
            <table class="table  table-borderless  rounded-3 bg-white cart">
                <thead>
                    <tr>
                        <th>
                            @if (Model.Any()){<a href="#" class="nav-link link-dark">HB Shop</a>}
                        </th>
                        <th>
                            <span hidden></span>
                        </th>
                        <th colspan="2">
                            <span hidden></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Any())
                        {
                            <partial name="_CartData" model="Model"/>
                        }
                        else
                        {
                            <partial name="_EmptyCart" />
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @{
        if (Model.Any())
        {
            <div class="col-md-4 mb-2 ms-auto mb-2">
                <table class="table table-borderless bg-white rounded-3">
                    <thead >
                    <tr>
                        <td colspan="2">Địa chỉ nhận hàng</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2"><span class="text-dark fw-bolder">@cust.FullName</span> | <span class="text-dark fw-bolder">@cust.SDT</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="fs-6 text-muted">
                                @cust.Address
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-borderless bg-white rounded-3 ms-auto mb-2">
                    <thead>
                    <tr>
                        <td class="fw-bolder text-dark" colspan="2">Hoá đơn</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tạm tính: </td>
                        <td>@ViewBag.total đ</td>
                    </tr>
                    <tr>
                        <td class="fs-5 align-bottom">Thành tiền: </td>
                        <td class="fs-3 text-danger">@ViewBag.total đ<br/></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end text-muted fs-6">(Đã bao gồm VAT nếu có)</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-borderless  rounded-3 ms-auto">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <a asp-action="Checkout" class="btn btn-danger text-center w-100 h-100">Tiến hành đặt hàng</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        }
    }
</div>