@{
    ViewData["Title"] = "Index - QLND";
}
@model IEnumerable<Customers>
<h1 class="display-4 text-center text-danger">Quản lý người dùng</h1>
<a asp-action="Create" class="btn btn-outline-info">Thêm người dùng mới</a>
<hr/>
<table class="table table-bordered table-striped align-middle text-center text-wrap table-light border-info">
    <thead class="table-info">
    <tr>
        <th>@Html.DisplayNameFor(model=>model.FullName)</th>
        <th>@Html.DisplayNameFor(model=>model.TaiKhoan)</th>
        <th>@Html.DisplayNameFor(model=>model.MatKhau)</th>
        <th>@Html.DisplayNameFor(model=>model.Quyen)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model)
        {
            <tr class="font-weight-bolder">
                <td class="align-middle text-info">@Html.DisplayFor(model=>item.FullName)</td>
                <td class="align-middle text-danger">@Html.DisplayFor(model=>item.TaiKhoan)</td>
                <td class="align-middle text-success">@Html.DisplayFor(model=>item.MatKhau)</td>
                <td class="align-middle text-info font-italic">@Html.DisplayFor(model=>item.Quyen)</td>
                <td class="align-middle">
                    <a asp-action="Details" class="btn btn-outline-info btn-sm" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Edit" class="btn btn-outline-success btn-sm" asp-route-id="@item.Id">Sửa TT người dùng</a>
                    <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.Id">Xoá người dùng</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>