@{
    ViewData["Title"] = "Index - QL Danh mục";
    ViewData["Icon"] = "/icons/list-ol.svg";
}
@model IEnumerable<Categories>
<h1 class="display-4 text-center text-danger">Quản lý danh mục</h1>
<a asp-action="Create" class="btn btn-outline-info">Thêm danh mục mới</a>
<hr />
<span>@Html.Raw(@ViewData["Error"])</span>
<div class="container">
    <table class="table table-bordered  align-middle text-wrap table-responsive-lg">
        <thead class="table-danger">
        <tr class="text-center">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody >
        @{
            foreach (var item in Model)
            {
                <tr class="text-center fw-bolder align-middle">
                    <td class="text-info">@Html.DisplayFor(model => item.Name)</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Sửa TT danh mục</a>
                            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Xoá danh mục</a>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>