@{
    ViewData["Title"] = "Welcome to Azs Shop";
}
@model IEnumerable<Products>
<h1 class="display-4 text-uppercase text-center text-muted">Azs Shop</h1>
<form asp-action="Index" autocomplete="off" method="get">
    <label>Tìm kiếm sản phẩm: </label>
    <div class="row g-3">
        <div class="col-sm-3">
            <input type="text" name="name" class="form-control" placeholder="Tìm sản phẩm theo tên ..." />
        </div>
        <div class="col-sm-3">
            <select asp-items="@ViewBag.DanhMuc" name="categoryId" class="form-select">
                <option value="0">Tất cả danh mục</option>
            </select>
        </div>
        <div class="col-12">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </div>
</form>
<hr />
<h6 class="text-center">@ViewBag.Found</h6>
<div class="row row-cols-1 row-cols-md-5 g-4 justify-content-center py-5">
    @{
        foreach (var item in Model)
        {
            <div class="col">
                <div class="card  border-success h-100 text-truncate">
                    <img src="@Html.DisplayFor(model => item.Image)" class="card-img-top" width="100%" height="200" alt="Product Image"/>
                    <div class="card-body text-center">
                        <h5 class="card-title text-transition" title="@Html.DisplayFor(model => item.Name)">@Html.DisplayFor(model => item.Name)</h5>
                        <h6 class="card-subtitle mb-5 text-danger text-transition"
                            title="@Html.DisplayFor(model => item.Description)">
                            @Html.DisplayFor(model => item.Description)
                        </h6>

                        <h6 class="card-text text-success text-uppercase text-md-start">Giá: <span class="text-info fst-italic"> @Html.DisplayFor(model => item.Price)</span> $</h6>
                    </div>
                    <div class="card-footer bg-transparent  border-success">
                        <a asp-action="Buy" asp-controller="Cart" asp-route-id="@item.Id" asp-route-name="@item.Name" asp-route-price="@item.Price" class="btn btn-success float-lg-start">Mua</a>
                        <a asp-action="Details" class="btn btn-outline-info float-lg-end" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
