@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4 text-uppercase text-danger text-center">Welcome</h1>
@model IEnumerable<Products>
<div class="row d-flex justify-content-center">
   
    @{
        foreach (var item in Model)
        {
            <div class="col-sm-2">
                <div class="card text-truncate mt-3">
                    <img src="@Html.DisplayFor(model => item.Image)" class="card-img-top" alt="Product Image" width="20"/>
                    <div class="card-body">
                        <h5 class="card-title text-transition">@Html.DisplayFor(model => item.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-danger text-transition"
                            title="@Html.DisplayFor(model => item.Description)">
                            @Html.DisplayFor(model => item.Description)
                        </h6>

                        <p class="card-text text-success">Giá: <span class="text-info"> @Html.DisplayFor(model => item.Price)</span> $</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Buy" asp-controller="Cart" asp-route-name="@item.Name" asp-route-price="@item.Price" class="btn btn-success float-left">Mua</a>
                        <a asp-action="Details" class="btn btn-outline-info float-right" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
